<div class="card">
    <h2 >
        <i *ngIf="quiz.theme ==='Actor'" class="fab fa-leanpub"></i>
        <i *ngIf="quiz.theme ==='Les Sports'" class="fas fa-arrow-circle-down"></i>
        Nom: {{quiz.name}}<br/>
        <span>Theme: {{quiz.theme}} </span>
        <span *ngIf="quiz.date != undefined"><strong>Date: {{quiz.date}}</strong></span>
        <p class="center">{{quiz.questions.length}}</p>
    </h2>

    <button class="button-card" (click)="selectQuiz()">Select</button>
    <br/>
    <button class="button-card" (click)="deleteQuiz()">Delete</button>
</div>